body {
	background-color: lighten(lightgray, 10%);

	button {
		cursor: pointer;
	}
	section {
		&#reverb {
			button {
				font-size: 3rem;
				border: 1px solid black;
				border-radius: 5px;
			}
		}

		&#sound {
			button {
				margin: 10px;
				background-color: lightblue;
				width: 15vw;
				height: 15vw;
				padding: 0;
				
				border: 2px solid darkblue;

				

				&:hover {
					background-color: darken(lightblue, 10%);
					border-color: black;
				}

				&:active {
					background-color: lighten(lightblue, 10%);
				}
			}
		}
	}
}